<h1>Login</h1>

<form method="post">

    <label>Apellido:</label>
    <input type="text" name="username" class="form-control" />
    <br />

    <label>ID:</label>
    <input type="text" name="psswd" class="form-control" />
    <br />

    <button type="submit" class="btn btn-success">Acceder</button>
</form>